* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.section_data_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 54px;
}

.sect_image_ar {
  width: 64%;
}
.sect_image_ar img {
  width: 100%;
}
.ast-container {
  width: 100%;
  display: unset !important;
}
#section_tagline_ar {
  margin: 15px 0px 80px 0px;
}
.product_loop_ar {
  background: #231f2005;
  border: 0.64px solid #231f200d;
  padding: 12px;
  border-radius: 2px;
}
.product_loop_ar .product_name_ar {
  font-family: var(--jakarta-fonts);
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--site-dark-text-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product_loop_ar .product_name_ar h6 {
  font-weight: 400;
  font-family: var(--jakarta-fonts);
}
.d_flex_price_button_ar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.d_flex_price_button_ar .price_ar * {
  color: var(--site-dark-text-color) !important;
  font-family: var(--jakarta-fonts);
  font-size: var(--font-size-16);
  font-weight: 400 !important;
  line-height: 20px;
  text-align: left;
}
.best_seller_slider_ar {
  padding-top: 40px;
}

/* by category style */
.d_flex_wrap_ar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#shop_by_cate_ar {
  background-color: var(--dark-shade-02);
  padding: 80px 0px;
}
#shop_by_cate_ar .cat_wrapper {
  position: relative;
  max-height: 370px;
}
.cat_wrapper.bigger_box_ar {
  width: calc(50% - 10px);
}
.cat_wrapper.small_box_ar {
  width: calc(33% - 9.5px);
}
.cat_image_ar,
.cat_image_ar img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cat_name_ar {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 30px);
  background: var(--white-color-ar);
  height: 70px;
  border-radius: 10px;
}
.cat_name_ar a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured_image_ar img,
.featured_image_ar {
  width: 100px;
  height: 100px;
  margin: auto;
}
.featured_image_ar {
  margin-bottom: 20px;
}

/* wardrobe section */
#wardrobe_right_content_ar {
  background-color: #f4f4f4;
  background-image: url(../img/arrowsbg.png);
  background-position: top right;
  background-repeat: no-repeat;
  width: 50%;
}
.right_content_ar {
  padding: 74px 20px 104px 70px;
}
.d_flex_no_gap_ar {
  display: flex;
  max-height: 600px;
}
.leftside_img_ar {
  width: 50%;
  height: 600px;
}
.leftside_img_ar img {
  height: 100%;
  width: 100%;
}

.d_flex_gaper_ar {
  display: flex;
  gap: 12px;
}
.d_flex_gaper_ar .icons i {
  font-size: 12px;
}
.testimonial_card {
  border-radius: 10px;
  border: 1px solid var(--shadow-05);
  max-width: 400px;
  position: relative;
  padding: 40px 0px 0px 0px;
}
.padd_17_20 {
  padding: 0px 17px 0px 20px;
}
.client_profile_ar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.client_profile_ar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.review_ar {
  margin: 10px 0px 22px 0px;
}
.profiles_wraaper_ar {
  border-top: 1px solid var(--shadow-05);
  padding: 15px 17px 15px 20px;
}
.quotes_ar {
  position: absolute;
  top: -21px;
  left: 20px;
  width: 52px;
  height: 52px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#testimonials_slider_ar .owl-stage {
  padding-top: 66px;
}
#testimonial_slider_wraaper {
  position: relative;
}
.slider_controllers_ar .ab_slide_control_ar {
  border-radius: 50px;
  border: 1px solid var(--shadow-05);
  background: var(--White, #fff);
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-shade-02);
  border-radius: 50%;
  cursor: pointer;
}
#testimonial_slider_wraaper .prev_ar.ab_slide_control_ar,
.next_ar.ab_slide_control_ar {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 9999;
}
#testimonial_slider_wraaper .next_ar.ab_slide_control_ar {
  right: 80px;
}
#testimonial_slider_wraaper .prev_ar.ab_slide_control_ar {
  left: 80px;
}
#testimonial_slider_wraaper button.owl-dot.active {
  background-color: var(--aa-1-f-22, #aa1f22);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 1;
}
#testimonial_slider_wraaper button.owl-dot {
  background-color: var(--aa-1-f-22, #aa1f22);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 0.1;
}
#testimonial_slider_wraaper .owl-dots {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
#best_seller_slider_ar .owl-dots,
#featured_slider_ar .owl-dots {
  display: none;
}

.testimonial_section_ar .section_heading_center_ar > p {
  margin-top: 10px;
}
/* faq styles */
.accordian_ar_mi_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accord_icons_ar i{
  color: var(--dark-shade-02);
  font-size: 12px;
}
.hide_ar_accord{
  display: none !important;
}
.accordian_ar_mi{
  border: 1px solid #231F201A;
  box-shadow: 0px 2px 4px 0px #C2C2C21A;
  border-radius: 8px;
  padding: 20px;
}
.accordian_wrapper_ar{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.accordian_ar_mi_desc {
  padding-top: 20px;
}
.accordian_ar_mi:first-child #minus_ar{
  display: block;
}
.accordian_ar_mi:first-child .accordian_ar_mi_desc{
  display: block;
}
.accordian_ar_mi:first-child #plus_ar{
  display: none;
}
.accordian_ar_mi:not(:first-child) #plus_ar{
  display: block;
}
.accordian_ar_mi:not(:first-child) #minus_ar,.accordian_ar_mi:not(:first-child) .accordian_ar_mi_desc{
  display: none;
}
.accordian_ar_mi_desc p{
  margin-bottom: 0px;
}
@media (max-width: 1025px) {
  .max_width_ar_440 {
    max-width: 100%;
  }
  .section_data_wrapper {
    flex-direction: column;
  }
  #home_hero_ar .section_data_wrapper {
    flex-direction: column;
    min-height: 330px;
    position: relative;
    justify-content: center;
    background: #00000066;
  }
  #product_seller_ar .section_data_wrapper {
    gap: 0px;
  }
  .sect_image_ar {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
  }
  .sect_content_ar {
    padding: 16px;
  }
  .sect_image_ar img {
    width: 100%;
    height: 100%;
  }
  #home_hero_ar h2,
  #home_hero_ar p {
    color: var(--white-color-ar);
  }
  #home_hero_ar p {
    max-width: 248px;
    text-align: center;
  }
  #section_tagline_ar {
    margin: 15px auto 40px auto;
  }
  .colored_btn_ar {
    margin: auto;
  }
  .best_seller_slider_ar {
    padding-top: 30px;
  }
  #best_seller_slider_ar,
  #featured_slider_ar {
    padding-left: 16px;
  }
  #best_seller_slider_ar .owl-dots,
  #featured_slider_ar .owl-dots {
    display: block;
    margin-top: 10px;
  }
  #best_seller_slider_ar button.owl-dot.active,
  #featured_slider_ar button.owl-dot.active {
    width: 162px;
    height: 4px;
    border-radius: 10px;
    background: var(--dark-shade-02) !important;
  }
  #best_seller_slider_ar button.owl-dot,
  #featured_slider_ar button.owl-dot {
    background: #231f200d;
    width: 40px;
    height: 4px;
    border-radius: 10px;
  }
  #shop_by_cate_ar {
    padding: 40px 16px;
  }
  .cat_wrapper.bigger_box_ar,
  .cat_wrapper.small_box_ar {
    width: 100%;
  }
  #shop_by_cate_ar .cat_wrapper {
    height: 370px;
  }
  .d_flex_no_gap_ar {
    flex-direction: column;
  }
  .leftside_img_ar,
  #wardrobe_right_content_ar {
    width: 100%;
  }
  .leftside_img_ar{
    height: auto;
  }
  #wardrobe_right_content_ar,
  .padd_100_80 {
    padding: 40px 16px;
  }
  #wardrobe_right_content_ar h3 {
    text-align: center;
  }
  .d_flex_no_gap_ar {
    max-height: fit-content;
  }
  #testimonial_slider_wraaper .owl-dots {
    margin-top: 30px;
  }
}
